@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@400;600&family=Montserrat:wght@400;500&display=swap');

/*     font-family: 'Maitree', serif;

    font-family: 'Montserrat', sans-serif; */

/* 
Red: #B20061
Pink: #FFE1F9
Blue: #350482 */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html {
  font-size: 125%;
}

img { 
	width: 100%;
  margin: auto;
	height: auto;
	display: block;
}

h1,
h2,
h3,
h4 {
  font-family: 'Maitree', serif;
}

a {
  text-decoration: none;
  width: calc(20% - 1rem);
}

.wrapper {
  max-width: 1600px;
  width: 85%;
  margin: 0 auto;
}

/* Header styles */

header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(178, 0, 97, 0.6);
  height: 15vh;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-align: center;
  font-family: 'Maitree', serif;
  font-size: 3rem;
  font-weight: 600;
  color: rgba(53, 4, 130, 0.8);
}

nav a {
  margin: 0 10px;
  color: #350482;
}

/* Main styles */

form {
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
}

input {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid #350482;
  border-radius: 1rem;
  margin: 1rem;
  font-family: 'Maitree', serif;
}

button {
  border-radius: 20px;
  border: 1px solid #350482;
  color: #350482;
  background-color: rgba(178, 0, 97, 0.6);
  padding: 0.5rem 1rem;
  font-family: 'Maitree', serif;
  cursor: pointer;
}

button:hover,
button:focus {
  border: 1px solid rgba(178, 0, 97, 0.6);
  background-color: rgba(53, 4, 130, 0.4);;
  color: rgb(178, 0, 97);
}

main {
  background: rgba(255, 225, 249, 0.6);
  min-height: 85vh;
}

h2 {
  color: #B20061;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0.75rem;
}

svg {
  cursor: pointer;
  margin: 0 10px;
  align-self: flex-start;
}

.faved {
  color: #B20061;
}

.resultsContainer,
.favourites,
.foodPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.foodItem {
  text-align: center;
  background-color: #FFF;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 12rem;
  padding-bottom: 1.25rem;
}

.foodItem img {
  object-fit: contain;
  display: inline-block;
  height: 8rem;
	width: 100%;
}

.foodItem p,
.foodPageTitle p {
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
}

/* Food page styles */

.foodPage {
  padding: 5rem 0;
}

.foodPageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background: #FFF;
  padding: 4rem;
  position: relative;
 
}

.foodPageTitle {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.foodPageImg {
  width: 50%;
}

.foodPageTitle h2 {
  margin-bottom: 4rem;
}

.foodPageTitle p {
  font-size: 0.7rem;
}

.foodPage svg {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2.5rem 3rem 0 0;
}

.nutrContainer {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  /* width: 50%; */
}

.nutrContainer h3 {
  font-weight: 600;
}

.nutrInfoContainer {
  display: flex;
}

.nutrients {
  /* width: 80%; */
  margin: 0.8rem;
}

h4 {
  font-weight: 600;
}

.nutrients p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}

/* Favourites page styles */

.favourites {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
}

.favourites img {
  display: inline-block;
  width: 100%;
  object-fit: contain;
  
}

/* Footer */

footer {
  font-family: 'Maitree', serif;
  background: rgba(178, 0, 97, 0.6);
  display: flex;
  justify-content: center;
}

footer a {
  margin: 0;
  padding: 0;
  color: #350482;
}

footer a:hover,
footer a:focus {
  color: rgba(53, 4, 130, 0.6);
}


footer p {
  margin: 0 0.5rem;
  padding: 0.5rem 0;
}


/* Food Page */
@media(max-width: 970px) {
  .nutrients p {
    font-size: 0.7rem;
  }

}

@media(max-width: 845px) {
  .foodPageContainer  {
    padding-right: 7rem;
  }
}

@media(max-width: 805px) {
  .nutrInfoContainer {
    width: 90%;
  }
}

@media(max-width: 720px) {
  .foodPage svg {
    margin: 2rem 1.3rem 0 0;
  }

}

@media(max-width: 680px) {
  .nutrients {
    width: 100%;
    margin: 0.5rem;
  }
}

@media(max-width: 615px) {
  .servingInfo {
    width: 90%;
  }
}

@media(max-width: 550px) {
  .nutrContainer h3 {
    margin-right: 20px;
  }
  
  .foodPageContainer {
    flex-direction: column;
  }

  .foodPageTitle {
    width: 100%;
  }

  .servingInfo {
    text-align: center;
  }

  .foodPageTitle h2 {
    margin-bottom: 1rem;
  }

  .foodPageImg {
    margin-bottom: 1rem;
  }

  .nutrContainer h3 {
    text-align: center;
    margin: 1.5rem 0 0.25rem 0;
  }
}

/*------------*/
    
/* Media queries */
@media (max-width: 1400px) {
  a {
    width: calc(25% - 1rem);
  }
}

@media (max-width: 1285px) {
  .foodPageContainer {
    padding: 2rem;
  }
}

@media (max-width: 1190px) {
  .wrapper {
    width: 90%;
  }

  input {
    width: 70%;
  }

  a {
    width: calc(33.33% - 1rem);
  }
}


@media (max-width: 950px) {
  a {
    width: calc(50% - 1rem);
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .wrapper {
    max-width: 600px;
    width: 95%;
  }

  input {
    width: 100%;
    margin: 0 0 0.5rem 0;
  }

  button {
    width: 100%;
  }

  a {
    width: 100%;
  }

  footer {
    font-size: 0.8rem;
    text-align: center;
  }
}

@media(max-width: 500px) {
  .nutrInfoContainer {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  button {
    width: 100%;
  }

  header {
    height: 40vh;
  }

  .headerContainer {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 2rem;
    font-size: 2.25rem;
  }

  .foodPage {
    padding: 1rem 0;
  }



}

